@import '../../styles/scroll.scss';
@import '../../styles/variables.scss';
.editor {
  height: calc(100vh - ($height-header + $top-bar + $btn-variables + $height-footer));
  display: flex;
  flex: 1;
  overflow: auto;

  @media (max-width: 768px) {
    height: calc(100vh - ($height-header-mob + $top-bar + $btn-variables + $height-footer-mob));
  }

  &_variables-open {
    height: calc(
      100vh - ($height-header + $top-bar + $btn-variables + $height-footer + $variables-height)
    );

    @media (max-width: 768px) {
      height: calc(
        100vh -
          ($height-header-mob + $top-bar + $btn-variables + $height-footer-mob + $variables-height)
      );
    }
  }

  .cm-scroller {
    @extend %scroll;
  }

  .cm-theme {
    width: 100%;
  }
}
