@import '../../styles/scroll.scss';
.editor {
  height: calc(100vh - 240px);
  display: flex;
  flex: 1;
  overflow: auto;

  &_variables-open {
    height: calc(100vh - 460px);
  }

  .cm-scroller {
    @extend %scroll;
  }

  .cm-theme {
    width: 100%;
  }
}
