@import '../../styles/variables.scss';
@import '../../styles/scroll-pink.scss';
$name: 'documentation';

.#{$name} {
  position: fixed;
  right: -300px;
  width: 300px;
  height: calc(100vh - 152px);
  background-color: $color-white;
  transition: right 0.7s;

  @media (max-width: 768px) {
    height: calc(100vh - 46px);
    right: -280px;
    width: 280px;
  }

  &_active {
    right: 0;
  }

  &__wrap {
    height: 100%;
    @extend %scroll-pink;
    padding: 0 10px;
    overflow: auto;
  }

  &__content {
    margin-top: 20px;
  }

  &__title {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: $color-grey2;
    font-weight: bold;
  }

  &__btn {
    position: absolute;
    top: 160px;
    left: -30px;
    height: 30px;
    width: 60px;
    padding: 0 10px;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    border-radius: 2px 2px 0 0;
    background-color: $bg-dark-light;
    color: $color-white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    .#{$name}_active & {
      background-color: $color-pink;
    }

    &:hover {
      background-color: $color-pink-hover;
    }
  }
}
