@import '../styles/variables.scss';

%scroll {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    // background: #cecece;
  }

  &::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: $bg-dark2;
  }

  &:hover::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border-radius: 8px;
    background-color: $bg-dark2;
  }
}
