// colors
$color-light-gray: rgba(255, 255, 255, 0.6);
$color-grey: #aaa;
$color-pink: rgba(245, 40, 145, 0.8);
$color-bg: #172a3a;
$color-title: #ccd0d3;
$color-input: #2f404e;
$color-input-text: #757575;
$color-pink: #c90478;
$color-white: #ffffff;

// background
$background-dark: #202020;
$bg-main: #0f202d;
$bg-main-second: #172b3a;

// another
$hover: 0.7;
$transition: 0.3s;
$color-pink-hover: rgba(192, 4, 101, 0.8);

//screen-sizes
$mobile-width: 638px;
