// colors
$color-light-gray: rgba(255, 255, 255, 0.6);
$color-grey2: #b2b2b2;
$color-grey: #aaa;
$color-pink: rgba(245, 40, 145, 0.8);
$color-title: #ccd0d3;
$color-input: #2f404e;
$color-input-text: #757575;
$color-white: #fff;
$color-pink-bright: #f6009c;
$color-dark-red: #b11a04;
$color-dark-grey: #555;
$color-blue: #1f61a0;
$color-yellow: #ca9800;
$color-yellow-light: #f5a000;
$color-pink-code: #d64292;
$color-header-scroll: #572556;
$color-dark-purple: #660066;

// background
$background-dark: #202020;
$bg-main: #0f202d;
$bg-main-second: #172b3a;
$bg-light-grey: #f5f6f8;
$bg-grey: #e6e8ec;
$bg-darkWash: #2a3746;
$bg-dark2: #0b1923;

// another
$hover: 0.7;
$transition: 0.3s;
$color-pink-hover: rgba(192, 4, 101, 0.8);
$welcome-code-gap: 4rem;
$tablet-gap: 2rem;
$mobile-gap: 1rem;
$transition-code-examples: 2.5s;
$transition-buttons: 0.3s ease-out;
$transform-duration: translate(0px, 70px);

//screen-sizes
$mobile-width: 638px;
$small-desktop-width: 1150px;
$tablet-width: 980px;
