@import '../../styles/mixins.scss';

.main-page {
  margin-top: 66px;
  @include mobile {
    margin-top: 46px;
  }

  &__wrap {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__container {
    flex: 2;
  }

  &__editor-bar {
    display: flex;
    font-size: 14px;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__query-wrap {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
