@import '../../styles/variables.scss';
$modal: 'modal';

.#{$modal} {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.2s linear;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    position: relative;
    width: calc(100% - 40px);
    max-width: 450px;
    max-height: 100vh;
    padding: 40px 59px;
    background: #fff;
    border-radius: 6px;

    @media (max-width: 576px) {
      padding: 40px 20px;
    }
  }

  &__backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color-pink, 0.5);
    cursor: pointer;
  }

  &__btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    outline: none;
    border: none;
    transition: opacity $transition;
    line-height: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__icon {
    width: 100%;
    color: $color-pink;
    font-size: 16px;
  }
}
