@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.error-page {
  display: flex;
  width: 100%;
  height: calc(100vh - 86px);
  justify-content: center;
  align-items: center;
  background-color: $bg-main-second;
  color: $color-title;

  @include mobile {
    margin-top: 46px;
    height: calc(100vh - 177px);
  }

  &__info {
    text-align: center;
  }

  &__title {
    font-size: 82px;
    font-weight: 700;

    @include mobile {
      font-size: 62px;
    }
  }

  &__text {
    font-size: 42px;
    font-weight: 700;

    @include mobile {
      font-size: 22px;
    }
  }
}
