@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.third-section {
    background-color: $bg-light-grey;
    &__wrapper {
        @include welcome-wrapper(5rem 2rem);
        align-items: start;
    }
    &__block1, 
    &__block2 {
        width: 45%;
        @include positioning(normal);
    }
    &__h2 {
        @include welcome-h2($background-dark);
    }
    &__text {
        @include welcome-p($background-dark);
    }
}