@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.task-info {
    background: url('../../../assets/png/background2.png');
    font-family:  "Rubik", sans-serif;
    
    &__wrapper {
        @include welcome-wrapper(0.5rem 2rem);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    
    &__h1 {
        padding: 1rem;
        font-size: 32px;
        letter-spacing: 1.5px;
        display: flex;
        align-items: center;
    }
    
    &__block {
        @include positioning(center);
        padding: 1rem;
        font-size: 28px;
        font-weight: 700;
        gap: 1rem;
        letter-spacing: 1.5px;
    }

    &__RS {
        transition: $transition;
        &:hover {
            color: $color-pink-bright;
        }
    }

    &__year {
        font-size: 18px;
    }
    
    &__link {
        color: white;
        transition: $transition;
        &:hover {
            color: $color-pink-bright;
        }
    }
}