@import '../../styles/variables.scss';

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    &__sign-in,
    &__sign-up {
        background: $color-pink;
        border-radius: 15px;
        padding: 0.5rem 0.8rem;
        border: none;
        transition: 0.3s ease-out;
        &:hover {
            background: $color-pink-hover;
        }
    }
    
}

#sign-in,
#sign-up {
    color:white;
}